{% extends 'base.html' %}

{% block title %}
    Eliminar Empleado
{% endblock title %}


{% block content %}
{% include 'includes/header.html' %}
<section id="eliminar-empleado">
    <h1>Eliminar Empleado: {{ object.full_name }}</h1>

    <div class="confirmacion-container">
        <form method="POST" class="confirmacion-form"> {% csrf_token %}
            <div class="confirmacion-mensaje">
                <h5>¿Desea eliminar al empleado?</h5>
                <p>Confirme que desea eliminar a <strong>{{ object.full_name }}</strong>.</p>
            </div>
            <button type="submit" class="confirmar-button">Confirmar</button>
        </form>
    </div>
</section>

{% endblock content %}