{% extends 'base.html' %}


{% block content %}
{% include "includes/header.html" %}

<section id="lista-empleados">
  <h1>Administrar Empleados</h1>

  <!-- Busqueda de Empleados -->
  <form method="GET" class="search-form">
      <div class="search-container">
          <input type="text" id="kword" name="kword" placeholder="Buscar empleado" class="search-input">
          <button type="submit" class="search-button">Buscar</button>
      </div>
  </form>

  <!-- Tabla de Empleados -->
  <div class="table-container">
      <table class="empleados-table">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  <th>Departamento</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
              {% for e in empleadosAdmin %}
              <tr>
                  <td>{{ e.id }}</td>
                  <td>{{ e.first_name }}</td>
                  <td>{{ e.last_name }}</td>
                  <td>{{ e.departamento.name }}</td>
                  <td>
                      <a href="{% url 'empleados_app:modificar_empleado' e.id %}" class="action-button edit">Editar</a>
                      <a href="{% url 'empleados_app:borrado' e.id %}" class="action-button delete">Eliminar</a>
                  </td>
              </tr>
              {% empty %}
              <tr>
                  <td colspan="5" class="no-results">No hay empleados registrados.</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>

  <!-- Paginación -->
  {% if is_paginated %}
  <div class="pagination">
      <ul class="pagination-list">
          <!-- Botón para ir a la primera página -->
          <li><a href="?page=1" class="pagination-button">Primero</a></li>

          <!-- Botón para ir una página atrás -->
          {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}" class="pagination-button">Atrás</a></li>
          {% endif %}

          <!-- Páginas cercanas a la actual -->
          {% for page_num in page_obj.paginator.page_range %}
              {% if page_num >= page_obj.number|add:"-3" and page_num <= page_obj.number|add:"3" %}
                  <li><a href="?page={{ page_num }}" class="pagination-button {% if page_obj.number == page_num %}active{% endif %}">{{ page_num }}</a></li>
              {% endif %}
          {% endfor %}

          <!-- Botón para ir a la siguiente página -->
          {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}" class="pagination-button">Siguiente</a></li>
          {% endif %}

          <!-- Botón para ir a la última página -->
          <li><a href="?page={{ page_obj.paginator.num_pages }}" class="pagination-button">Último</a></li>
      </ul>
  </div>
  {% endif %}
</section>
{% endblock content %}


