{% extends 'base.html' %}

{% block content %}
{% include "includes/header.html" %}
<section id="lista-empleados-area">
    <h1>Empleados del Departamento: {{ area_empleados.shor_name }}</h1>

    <!-- Tabla de Empleados -->
    <div class="table-container">
        <table class="empleados-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Departamento</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for e in empleado %}
                <tr>
                    <td>{{ e.id }}</td>
                    <td>{{ e.first_name }}</td>
                    <td>{{ e.last_name }}</td>
                    <td>{{ e.departamento.name }}</td>
                    <td>
                        <a href="{% url 'empleados_app:detalle_empleado' e.id %}" class="action-button view">Ver</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="no-results">No hay empleados en este departamento.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock content %}
