{% extends 'base.html' %}

{% block title %}
Edita Empleado
    
{% endblock title %}


{% block content %}
{% include 'includes/header.html' %}

<section id="editar-empleado">
    <h1>Modificar Datos de Empleado</h1>

    <div class="form-container">
        <form method="post" class="editar-form"> {% csrf_token %}
            <!-- Campo: Nombres -->
            <div class="form-group">
                <label for="id_first_name">Nombres:</label>
                {{ form.first_name }}
            </div>

            <!-- Campo: Apellidos -->
            <div class="form-group">
                <label for="id_last_name">Apellidos:</label>
                {{ form.last_name }}
            </div>

            <!-- Campo: Trabajo -->
            <div class="form-group">
                <label for="id_job">Trabajo:</label>
                {{ form.job }}
            </div>

            <!-- Campo: Departamento -->
            <div class="form-group">
                <label for="id_departamento">Departamento:</label>
                {{ form.departamento }}
            </div>

            <!-- Campo: Habilidades -->
            <div class="form-group">
                <label for="id_habilidades">Habilidades:</label>
                {{ form.habilidades }}
            </div>

            <!-- Botón de Enviar -->
            <div class="form-group">
                <button type="submit" class="submit-button">Guardar Cambios</button>
            </div>
        </form>
    </div>
</section>
{% endblock content %}


