.menu-lateral {
  width: 250px;
  background-color: #1f2d3d;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  position: fixed;
  top: 80px;
  left: 0;
  height: calc(100% - 80px);
}

.menu-lateral ul {
  list-style: none;
  padding: 0;
}

.menu-lateral li a {
  color: #ecf0f1;
  text-decoration: none;
  padding: 0.5rem;
  display: block;
  border-bottom: 1px solid #34495e;
  transition: background 0.2s;
}

.menu-lateral li a:hover {
  background-color: #34495e;
}
