
<header>
    <h1>App de Empleados</h1>
    <nav>
        <ul>
            <li><a href="{% url 'empleados_app:inicio' %}">Inicio</a></li>
            <li><a href="{% url 'empleados_app:empleados_all' %}">Empleados</a></li>
            <li><a href="{% url 'departamento_app:lista_departamento' %}">Departamentos</a></li>
            <li><a href="{% url 'informes:dashboard_general' %}">Informe</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'users:logout' %}">Cerrar Sesión</a></li>
            {% else %}
                <li><a href="{% url 'users:login' %}">Iniciar Sesion</a></li>
                <li><a href="{% url 'users:register' %}">Registrarse</a></li>
            {% endif %}

        </ul>
    </nav>
</header>