
<header>
    <h1>App de Empleados</h1>
    <nav>
        <ul>
            <li><a href="{% url 'empleados_app:inicio' %}">Inicio</a></li>
            <li><a href="{% url 'empleados_app:empleados_all' %}">Lista de Empleados</a></li>
            <li><a href="{% url 'departamento_app:lista_departamento' %}">Departamentos</a></li>
            <li><a href="{% url 'empleados_app:empleados_admin' %}">Administrar</a></li>
            <li><a href="{% url 'departamento_app:nuevo_departamento' %}">Agregar Departamento</a></li>
            <li><a href="{% url 'empleados_app:empleado_add' %}">Agregar Empleado</a></li>
        </ul>
    </nav>
</header>