{% extends 'base.html' %}

{% block content %}
<section id="eliminar-empleado">
    
    <div class="header-modificar">
        <h1>Eliminar Departamento: {{ object.name }}</h1>
        <a href="javascript:history.back()" class="btn-regresar">
            <i class="fa-solid fa-circle-arrow-left"></i>
        </a>
    </div>

    <div class="confirmacion-container">
        <form method="POST" class="confirmacion-form"> {% csrf_token %}
            <div class="confirmacion-mensaje">
                <h5>¿Desea eliminar el Departamento de <strong>{{ object.name }}</strong>?</h5>
                <p>Confirme que desea eliminar a <strong>{{ object.name }}</strong>.</p>
            </div>
            <button type="submit" class="confirmar-button">Confirmar</button>
        </form>
    </div>
</section>

{% endblock content %}