{% extends 'base.html' %}

{% block content %}
{% include 'includes/header.html' %}
<section id="lista-departamentos">
    <h1>Departamentos de la Empresa</h1>

    <!-- Tabla de Departamentos -->
    <div class="table-container">
        <table class="departamentos-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Departamento</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for e in lista_depa %}
                <tr>
                    <td>{{ e.name }}</td>
                    <td>{{ e.shor_name }}</td>
                    <td>
                        <a href="{% url 'empleados_app:area_empleado' e.name %}" class="action-button view">Ver Empleados</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="no-results">No hay departamentos registrados.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock content %}
