{% extends 'base.html' %}

{% block title %}
    Registrar Departamento
{% endblock title %}

{% block content %}
<section id="agregar-departamento">
    <div class="header-modificar">
        <h1>Registrar Nuevo Departamento</h1>
        <a href="javascript:history.back()" class="btn-regresar">
            <i class="fa-solid fa-circle-arrow-left"></i>
        </a>
    </div>
    <div class="form-container">
        <form method="POST" enctype="multipart/form-data" class="agregar-form"> {% csrf_token %}
            <h3>Datos del Departamento</h3>

            <!-- Campo: Nombre del Departamento -->
            <div class="form-group">
                <label for="id_departamento">Nombre del Departamento:</label>
                {{ form.departamento }}
            </div>

            <!-- Campo: Nombre Corto -->
            <div class="form-group">
                <label for="id_shortName">Nombre Corto:</label>
                {{ form.shortName }}
            </div>

            <!-- Botón de Guardar -->
            <div class="form-group">
                <button type="submit" class="agregar-submit-button">Guardar</button>
            </div>
        </form>
    </div>
</section>


{% endblock content %}
        

