{% extends 'base.html' %}

{% block title %}
    Registrar Departamento
{% endblock title %}

{% block content %}
{% include 'includes/header.html' %}
<section id="agregar-departamento">
    <h1>Registrar Nuevo Departamento</h1>

    <div class="form-container">
        <form method="POST" enctype="multipart/form-data" class="agregar-form"> {% csrf_token %}
            <h3>Datos del Departamento</h3>

            <!-- Campo: Nombre del Departamento -->
            <div class="form-group">
                <label for="id_departamento">Nombre del Departamento:</label>
                {{ form.departamento }}
            </div>

            <!-- Campo: Nombre Corto -->
            <div class="form-group">
                <label for="id_shortName">Nombre Corto:</label>
                {{ form.shortName }}
            </div>

            <!-- Botón de Guardar -->
            <div class="form-group">
                <button type="submit" class="agregar-submit-button">Guardar</button>
            </div>
        </form>
    </div>
</section>


{% endblock content %}
        

