{% extends 'base.html' %}
{% load static %}

{% block content %} 
{% include 'includes/header.html' %}


<!--Inicio de Bloque de bienvenida-->
<section id="inicio">
  <div class="info-section">
      <h2>Bienvenido a la App de Empleados</h2>
      <p>Gestiona y administra la información de tus empleados y departamentos de manera eficiente.</p>
      <p>Explora las diferentes secciones para ver la lista de empleados, departamentos, y realizar tareas de administración.</p>
  </div>

  <div class="carousel">
      <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="{% static 'img/DW1.jpg' %}" alt="Imagen 1">
          </div>
          <div class="carousel-item">
              <img src="{% static 'img/OIP.jpg' %}" alt="Imagen 2">
          </div>
          <div class="carousel-item">
              <img src="{% static 'img/Que-es-un-lenguaje-de-programacion.jpg' %}" alt="Imagen 3">
          </div>
      </div>
      <button class="carousel-control prev" onclick="prevSlide()">&#10094;</button>
      <button class="carousel-control next" onclick="nextSlide()">&#10095;</button>
  </div>
</section>

{% endblock content %}