{% extends 'base.html' %}


{% block content %}
<section id="autenticacion">
    <h2>Iniciar Sesión</h2>
    <div class="form-container">
        <form method="post" class="agregar-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Usuario:</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="id_password">Contraseña:</label>
                {{ form.password }}
            </div>
            <div class="form-group">
                <button type="submit" class="submit-button">Iniciar Sesión</button>
            </div>
            <div class="form-group">
                <a href="{% url 'users:register' %}" class="register-button">Registrarse</a>
            </div>
            {% if form.errors %}
            <div class="error-message">
                Usuario o contraseña incorrectos.
            </div>
            {% endif %}
        </form>
    </div>
</section>
{% endblock %}

